@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin-ext');
 
 /* reset */
 
* {
  padding: 0;
  margin: 0;
  outline: 0;
}
a {
  text-decoration: none;
 }


 body {
  --redcolor: #ab0012;
  --whitecolor: #fff;
  --gutter: 20px;
  --max-width: 1200px;
  --text-color: #333;
  --inputRadius: 2px;
  --listFontSize: 18px;
  background: var(--whitecolor);
  color: var(--textcolor);
  font-family: 'Open Sans', sans-serif;
 }

.container {
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--gutter);
  padding-right: var(--gutter)
}
 header {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  height: 150px;
  position: fixed;
  z-index: 999;
  top: 0;
  background: var(--whitecolor);
 }
 header img.logo {
  position: absolute;
  left: calc(var(--gutter) * 2);
  top: calc(var(--gutter) / 2);
 }
 header .right{
  background: var(--redcolor);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: calc(var(--gutter) * 3);
 }

 header .right .searchInput ,  header .right .localtionSelect{
   width: 200px;
   border-radius: 3px;
   outline: none;
   border: 0;
   padding: 7px;
   font-weight: bold;
   margin-left: 7px;
 }

 header .right .searchInput {
  height: 23px;
 }
 header .right .localtionSelect {
  height: 37px;
 }

 header .shopping {
   border: 0;
   background: transparent;
   margin-right: calc(var(--gutter)/2);
   cursor: pointer;
   display: flex;
   position: relative;
 }
 header .shopping #shopping-cart {
  fill: white;
  width: 36px;
  height: 36px;
}

header .shopping .productCounter {
  color: #fff;
  width: 15px;
  height: 15px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

header .shopping:hover #shopping-cart {
  fill: #ffffffb0;
}

.main {
  margin-top: calc((var(--gutter) * 2) + 150px);
 }

.searchResult {
  width: 100%;
  padding: 10px;
}

.searchResult tr {
  height: 100%;
  width: 100%;
  display: flex;
  margin-bottom: calc(var(--gutter)*2);
}
.searchResult .list-item {
  display: flex;
  align-items: center;
  margin-bottom: var(--gutter);
  margin-top: var(--gutter);
  position: relative;
}

.searchResult td.category  h2 {
 margin-bottom: calc(var(--gutter)* 1.5);
}

.searchResult .list-item input{
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid;
  width: var(--listFontSize);
  height: var(--listFontSize);
  border-radius: var(--inputRadius);
  position: relative;
}
.searchResult .list-item input[type=number] {
  width: calc(var(--listFontSize) * 2);
  height: calc( var(--listFontSize) * 0.94);
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 5px;
}

.productCheckBox:checked~label {
  color: var(--redcolor);
  font-weight: bold;
}

.productCheckBox:checked~label:before {
  content: '\2713';
  width: var(--listFontSize);
  height: var(--listFontSize);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: var(--redcolor);
  top: 2px;
  left: 0;
  padding: 0;
  font-size: calc(var(--listFontSize) - 2px);
  border-radius: var(--inputRadius);
  color: var(--whitecolor);
}

.searchResult .list-item label {
  cursor: pointer;
  letter-spacing: normal;
  user-select: none;
}

.searchResult .list-item label:hover {
  color: var(--redcolor);
}

.ProductsHome {
  display: flex;
  width: 100%;
}
.ProductsHome .boughtProducts {
  width: 40%;
  padding: 10px;
  border-right: 1px solid rgba(128, 128, 128, 0.16);
  margin-right: calc(var(--gutter)*2);
}
.ProductsHome .boughtProducts .shopping {
  border: 0;
  background: transparent;
  margin-right: calc(var(--gutter)/2);
  cursor: pointer;
  display: flex;
  position: relative;
}
.ProductsHome .boughtProducts  #shopping-cart {
 fill: var(--redcolor);
 width: 36px;
 height: 36px;
}

.ProductsHome .boughtProducts .shopping .productCounter {
 color: var(--redcolor);
 width: 15px;
 height: 15px;
 background: var(--whitecolor);
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 3px;
 border-radius: 50%;
 position: absolute;
 top: 0;
 left: 0;
 border: 2px solid var(--redcolor);
 font-weight: bold;
}

.ProductsHome .boughtProducts .shopping:hover #shopping-cart {
 fill: #ab0012c2;
}
.ProductsHome .boughtProducts .ProductInfo {
  display: flex;
  border-bottom: 1px solid var(--redcolor);
}
.ProductsHome .boughtProducts .list-item {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.16);
  padding: 8px;
}

.ProductsHome .boughtProducts .list-item button {
  margin-left: 10px;
  border: 0;
  font-size: 15px;
  color: var(--redcolor);
  cursor: pointer;
}